/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/
/* Base Styles */

body {
  background-color: var(--clr-stone100);
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;
}

header {
  padding: 40px;
}

/* Container Styles */
.recipe-container {
  background-color: white;
  max-width: 736px;
  border-radius: 36px;
  overflow: hidden;
  margin-bottom: 36px;
 
}

.hero-image {
  width: 100%;
  display: block;
  border-radius: 30px;
  object-fit: cover; 
}

/* Header Styles */


header h1 {
  font-family: var(--fs-accent);
  color: var(--clr-stone900);
  font-weight: var(--fw-bold);
  font-size: var(--font-header);
  padding-top: 24px;
  padding-bottom: 10px;
}

.recipe-description {
  font-family: 'Outfit', sans-serif;
  color: var(--clr-stone600);
  line-height: 1.5;
}


/* Preparation Time Section */
.preparation-time {
  background-color: var(--clr-rose50);
  margin: 0 40px 40px;
  padding: 24px 40px;
  border-radius: 8px;
}

.preparation-time h2 {
  font-family: 'Outfit', sans-serif;
  color: var(--clr-rose800);
  font-weight: var(--fw-bold);
  font-size: var(--font-sub-header);
  margin-bottom: 16px;
}

.preparation-time strong {
  font-weight: var(--fw-black);
}
.preparation-time p {
  color: var(--clr-stone600);
  margin-bottom: 8px;
  font-family: 'Outfit', sans-serif;
}

.preparation-time ul {
  list-style-type: disc; 
  padding-left: 18px;
  margin: 0;
}

.preparation-time li {
  color: var(--clr-stone600);
  padding-left: 20px;
  margin-bottom: 8px;
  font-family: 'Outfit', sans-serif;
}

/* Ingredients Section */
.ingredients {
  padding: 0 40px 40px;
}

.ingredients h2 {
  font-family: var(--fs-accent);
  color: var(--clr-brown800);
  font-weight: var(--fw-bold);
  font-size: var(--font-sub-header);
  margin-bottom: 24px;
  letter-spacing: 0.6px;
}

.ingredients ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.ingredients li {
  color: var(--clr-stone600);
  font-size: var(--font-paragraph);
  padding-left: 8px;
  margin-bottom: 20px;
  line-height: 1.2;
}



/* Instructions Section */
.instructions {
  padding: 0 40px 40px;
}

.instructions h2 {
  font-family: var(--fs-accent);
  color: var(--clr-brown800);
  font-weight: var(--fw-bold);
  font-size: var(--font-sub-header);
  margin-bottom: 24px;
  letter-spacing: 0.6px;
  border-top: 1px solid var(--clr-stone150);
  padding-top: 30px;
}

.instructions h3 {
  font-family: 'Outfit', sans-serif;
  color: var(--clr-stone900);
  font-weight: var(--fw-bold);
  font-size: var(--font-paragraph);
  display: inline;
}
.instructions ol {
  list-style: none;
  counter-reset: instruction;
  padding: 0;
}

.instructions li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 40px; 
}

.instructions li::before {
  counter-increment: instruction;
  content: counter(instruction) "."; 
  position: absolute;
  left: 0;
  top: 0;
  color: var(--clr-brown800); 
  font-weight: var(--fw-black);
}

.instructions p {
  font-family: 'Outfit', sans-serif;
  color: var(--clr-stone600);
  display: inline;
  margin-left: 4px;
}

/* Nutrition Section */
.nutrition {
  padding: 0 40px 40px;
}

.nutrition h2 {
  font-family: var(--fs-accent);
  color: var(--clr-brown800);
  font-weight: var(--fw-bold);
  font-size: var(--font-sub-header);
  margin-bottom: 16px;
  letter-spacing: 0.6px;
  border-top: 1px solid var(--clr-stone150);
  padding-top: 30px;
}

.nutrition > p {
  font-family: 'Outfit', sans-serif;
  color: var(--clr-stone600);
  margin-bottom: 12px;
}

.nutrition-info {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Outfit', sans-serif;
}

.nutrition-item {
  border-bottom: 1px solid var(--clr-stone150);
}

.nutrition-item td {
  padding: 12px 0;
}
.nutrition-item td:first-child {
  padding-left: 40px;
}

.nutrition-item td:last-child {
  padding-right: 350px;
}

.nutrient {
  color: var(--clr-stone600);
  text-align: left;
}
.value {
  color: var(--clr-brown800);
  font-weight: var(--fw-bold);
  text-align: right;
}
/* Responsive Design */
@media (max-width: 768px) {
  .recipe-container {
    margin: 16px;
  }
  
  header h1 {
    font-size: calc(var(--font-sub-header) - 4px);
    padding: 24px 16px 16px;
  }
  
  section {
    padding: 0 16px;
  }
}

/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }